<!DOCTYPE HTML>
<html>
	<head>
		<title>CricPredicc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="../static/images//logo-cric (2).png">
		<link rel="icon" type="image/png" sizes="32x32" href="../static/images//favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
		<link rel="manifest" href="../static/images/site.webmanifest">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><img src="../static/images/logo-cric (2).png" width="10%">CricPredict</h1>
				<p>We Protecc, We Attacc, But Most Importantly, We CricPredicc</p>
			</header>

		<!-- Text Form -->
			<form id="signup-form" method="POST" action="/predicc" enctype="multipart/form-data">
                <select name="venue" label="Venue">
                    <option disabled selected>Select Venue Country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Australia">Australia</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="England">England</option>
                    <option value="India">India</option>
                    <option value="Ireland">Ireland</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sri Lanka">UAE</option>
                    <option value="West Indies">West Indies</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
                <select name="tossWinner" Label="Toss Winner">
                    <option disabled selected>Select Toss Winner</option>
                    {% for team in teams%}
                        <option value="{{team}}">{{team}}</option>
                    {% endfor %}
                </select>
                <select name="tossDecision">
                    <option disabled selected>Select Toss Winner's Deision</option>
                    <option value="bat">Bat</option>
                    <option value="bowl">Bowl</option>
                    <!-- <option value="Bangladesh">Bangladesh</option>
                    <option value="England">England</option>
                    <option value="India">India</option>
                    <option value="Ireland">Ireland</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="West Indies">West Indies</option>
                    <option value="Zimbabwe">Zimbabwe</option> -->
                </select>
                <input type="submit" value="Predicc" onclick=predicc()>
			</form>
			<!-- <img src="{{code}}">-->
			{{ confirm }}

		<!-- Scripts -->
			<script src="../static/js/main.js"></script>

	</body>
</html>